@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@font-face {
	font-family: "Oracle Triple";
	src: url("./fonts/ABCOracleTripleVariable-Trial.woff2") format("woff2");
	font-weight: 100 900;
	font-style: swap;
}

@font-face {
	font-family: "Oracle Plus";
	src: url("./fonts/ABCOraclePlusVariable-Trial.woff2") format("woff2");
	font-weight: 100 900;
	font-style: swap;
}

@theme {
	--color-paper: #E1E3D5;
	--color-black: #161616;
	--color-slime: #B6AF2F;
	--color-orange: #FF6619;
	--font-display: "Oracle Plus", sans-serif;
}

html,
body {
	background-color: var(--color-black);
	color: var(--color-paper);
}

body {
	font-family: var(--font-display);
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	height: 1px;
	position: relative;
}

html,
body,
#root {
	min-height: calc(100dvh);
}
